POSTGRES_USER=nilm_admin
POSTGRES_PASSWORD=change-me
POSTGRES_DB=postgres
POSTGRES_PORT=5432

JWT_ISSUER_URI=http://localhost:8090/realms/nilm
CORS_ALLOWED_ORIGINS=http://localhost:5173,http://localhost:3000